extends layout 
block content 

  section(class="container header-container")
    h1 All Products 
    button(class="btn btn-primary")
      a(href="/products/add" class="text-white") Add new product
  section(class="container product-container")
    each product in products
      div(class="card" ) 
        img(src=product.image class="card-img-top")
        div(class="card-body")
          h5(class="card-title") #{product.name}
          a(href=product.url class="btn btn-primary") View Product