doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul 
      li 
        a(href="/products") Products
      li 
        a(href="/categories") Categories
    block content
